{% load static %}
{% load notifications_tags %}
<div class="chatbox">
	<div class="chatbox-close"></div>
	<div class="custom-tab-1">
		<ul class="nav nav-tabs">
			<!-- <li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" href="#notes">Notes</a>
			</li> -->
			<li class="nav-item">
				<a class="nav-link active" data-bs-toggle="tab" href="#chat">Chat</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade active show" id="chat" role="tabpanel">
				<div class="card mb-sm-3 mb-md-0 contacts_card dlab-chat-user-box">
					<div class="card-header chat-list-header text-center">
						<!-- <a href="javascript:void(0);">
							<svg xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px"
								viewBox="0 0 24 24" version="1.1">
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<rect fill="#000000" x="4" y="11" width="16" height="2" rx="1" />
									<rect fill="#000000" opacity="0.3"
										transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000) "
										x="4" y="11" width="16" height="2" rx="1" />
								</g>
							</svg>
						</a> -->
						<div>
							<h6 class="mb-1">Chat List</h6>
							<!-- <p class="mb-0">Show All</p> -->
						</div>
						<a href="javascript:void(0);">
							<svg xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px"
								viewBox="0 0 24 24" version="1.1">
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<rect x="0" y="0" width="24" height="24" />
									<circle fill="#000000" cx="5" cy="12" r="2" />
									<circle fill="#000000" cx="12" cy="12" r="2" />
									<circle fill="#000000" cx="19" cy="12" r="2" />
								</g>
							</svg>
						</a>
					</div>
					<div class="card-body contacts_body p-0 dlab-scroll  " id="DLAB_W_Contacts_Body">
						<ul class="contacts">
							{% for notification in  user.notifications.unread %}
							<li class="">
								<div class="d-flex bd-highlight">
									<div class="img_cont">
										<img src="{% static 'images/avatar/1.jpg' %}" class="rounded-circle user_img"
											alt="" />
										<span class="online_icon"></span>
									</div>
									<div class="">
										<h5 class="mb-0">{{ notification.actor }}</h5>
										{% if notification.level == 'info' %}
										<p>{{ notification.description }}</p>
										{% else %}
										
										<div class="input-group">
											<input type="password" class="form-control" name="passphrase" id="id_passphrase_chat" value="{{ notification.description }}" disabled>
											<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#showPassChat"><i class="far fa-eye"></i></button>
											
										</div>
										{% endif %}
										
										{% if notification.level == 'info' %}
										<form action="{% url 'messageReply' %}" id="form_message{{ user.id }}" method="post" enctype="multipart/form-data">
											{% csrf_token %}
											<div class="input-group input-group-xs">
												<input type="password" class="form-control" name="message" placeholder="Reply...">
												<input type="hidden" name="user_id" value="{{ notification.actor_object_id }}">
												<div class="input-group-append">
													<button type="submit" form="form_message{{ user.id }}" class="btn btn-primary"><i
															class="fa fa-location-arrow"></i></button>
												</div>
											</div>
										</form>
										{% endif %}
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

        
<div class="modal fade" id="showPassChat">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Password</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal">
				</button>
			</div>
			<div class="modal-body">
				<form action="{% url 'showPassChat' %}" method="post" id="formPassChat">
					{% csrf_token %}
					<div class="form-group mb-3">
						<input type="password" class="form-control" autofocus id="password" name="password" placeholder="Enter your password">
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-xxs btn-success" id="submitPass" name="submitPass" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>