{% load static %}
<footer class="bg-gradient-reverse-primary">
    <div class="container pt-13 pt-md-15 pb-7">
        <!--/.card -->
        <div class="row gy-6 gy-lg-0">
            <div class="col-lg-4">
                <div class="widget">
                    <img src="{% static 'img/simindi-logo.png' %}" class="mb-3" width="50%" alt="" />
                    <p class="lead mb-5">Sistem Informasi Monitoring dan Rekapitulasi Sektor Industri</p>
                    <a href="{% url 'login' %}" class="btn btn-primary rounded-pill">Login</a>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-md-4 col-lg-2 offset-lg-2">
                <div class="widget">
                    <h4 class="widget-title mb-3"></h4>
                    <ul class="list-unstyled text-reset mb-0">
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <!-- <div class="col-md-4 col-lg-2">
                <div class="widget">
                    <h4 class="widget-title mb-3"></h4>
                    <ul class="list-unstyled text-reset mb-0">
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div> -->
            <!-- /column -->
            <div class="col-md-8 col-lg-4">
                <div class="widget">
                    <h4 class="widget-title mb-3">Alamat</h4>
                    <address>Jl. Raya Muchtar No.70, Bojongsari, Depok, Jawa Barat 16516</address>
                    <a href="mailto:first.last@email.com" class="link-body">industri.konstruksi@bssn.go.id</a>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
        </div>
        <!--/.row -->
        <hr class="mt-13 mt-md-15 mb-7" />
        <div class="d-md-flex align-items-center justify-content-between">
            <p class="mb-2 mb-lg-0">© 2022 Direktorat KSSI. All rights reserved.</p>
            <nav class="nav social text-md-end">
                <!-- <a href="#"><i class="uil uil-twitter"></i></a>
                <a href="#"><i class="uil uil-facebook-f"></i></a>
                <a href="#"><i class="uil uil-dribbble"></i></a>
                <a href="#"><i class="uil uil-instagram"></i></a>
                <a href="#"><i class="uil uil-youtube"></i></a> -->
            </nav>
            <!-- /.social -->
        </div>
        <!-- /div -->
    </div>
    <!-- /.container -->
</footer>