{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="{% url 'csm:index' %}">TMPI</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Detail</a></li>
            </ol>
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{title}}</h4>
                        <a href="{% url 'tmpi:index' %}" class="btn btn-xs btn-info"><i class="fa fa-undo"></i> Back</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive mb-3">
                            <table class="table table-bordered table-responsive-sm table-hover" style="min-width: 845px">
                                <thead class="thead-warning">
                                    <tr>
                                        <th colspan="" >Fase</th>
                                        <th colspan="2" >Langkah/Komponen</th>
                                        <th colspan="" >Total Pertanyaan</th>
                                        <th colspan="" >Nilai</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>	
                                        <td>Penilaian Kritikalitas</td>
                                        <td>7</td>	
                                        <td>{{object.penilaian_kritikalitas|floatformat:2}}</td>										
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>	
                                        <td>Analisis Ancaman</td>
                                        <td>8</td>	
                                        <td>{{object.analisis_ancaman|floatformat:2}}</td>										
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>3</td>	
                                        <td>Orang, Proses, Teknologi, dan Informasi</td>
                                        <td>45</td>	
                                        <td>{{object.orang_proses_teknologi|floatformat:2}}</td>										
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>4</td>	
                                        <td>Lingkungan Kontrol</td>
                                        <td>10</td>	
                                        <td>{{object.lingkungan_kontrol|floatformat:2}}</td>										
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>5</td>	
                                        <td>Penilaian Kematangan</td>
                                        <td>3</td>	
                                        <td>{{object.penilaian_kematangan|floatformat:2}}</td>										
                                    </tr>
                                    <tr style="background-color:rgb(145, 255, 0);">
                                        <td></td>
                                        <td></td>	
                                        <td>Total Fase 1</td>
                                        <td>73</td>	
                                        <td>{{object.total_fase_1|floatformat:2}}</td>										
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>1</td>	
                                        <td>Identifikasi</td>
                                        <td>9</td>	
                                        <td>{{object.identifikasi_respon|floatformat:2}}</td>										
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>2</td>	
                                        <td>Penyelidikan</td>
                                        <td>16</td>	
                                        <td>{{object.penyelidikan|floatformat:2}}</td>										
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>3</td>	
                                        <td>Aksi</td>
                                        <td>18</td>	
                                        <td>{{object.aksi|floatformat:2}}</td>										
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>4</td>	
                                        <td>Pemulihan</td>
                                        <td>16</td>	
                                        <td>{{object.pemulihan|floatformat:2}}</td>										
                                    </tr>
                                    <tr style="background-color:rgb(145, 255, 0);">
                                        <td></td>
                                        <td></td>	
                                        <td>Total Fase 2</td>
                                        <td>59</td>	
                                        <td>{{object.total_fase_2|floatformat:2}}</td>										
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>1</td>	
                                        <td>Identifikasi</td>
                                        <td>7</td>	
                                        <td>{{object.identifikasi_tindak_lanjut|floatformat:2}}</td>										
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>2</td>	
                                        <td>Pelaporan dan Review</td>
                                        <td>20</td>	
                                        <td>{{object.pelaporan_review|floatformat:2}}</td>										
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>3</td>	
                                        <td>Pembelajaran yang didapat</td>
                                        <td>7</td>	
                                        <td>{{object.pembelajaran|floatformat:2}}</td>										
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>4</td>	
                                        <td>Pembaruan Informasi</td>
                                        <td>7</td>	
                                        <td>{{object.pembaruan_informasi|floatformat:2}}</td>										
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>5</td>	
                                        <td>Analisis Tren</td>
                                        <td>6</td>	
                                        <td>{{object.analisis_tren|floatformat:2}}</td>										
                                    </tr>
                                    <tr style="background-color:rgb(145, 255, 0);">
                                        <td></td>
                                        <td></td>	
                                        <td>Total Fase 3</td>
                                        <td>47</td>	
                                        <td>{{object.total_fase_3|floatformat:2}}</td>										
                                    </tr>
                                    <tr style="background-color:rgb(0, 255, 191);">
                                        <td></td>
                                        <td></td>	
                                        <td></td>
                                        <td>Nilai Keseluruhan</td>	
                                        <td>{{object.nilai_akhir|floatformat:2}}</td>										
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div id="highchart-pie"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script> 
            var spider_json = "{{ spider_json|escapejs }}";
        </script>
	    <script src="{% static 'js/plugins-init/highchart-csm.js' %}"></script>
    {% endblock %}