{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="{% url 'tmpi:index' %}">TMPI</a></li>
                <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">{{ subtitle }}</a></li> -->
            </ol>
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{title}}</h4>
                        <a href="{% url 'tmpi:create' %}" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> Create TMPI</a>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <h4 class="card-title card-intro-title">
                                Filter
                            </h4>
                            <div class="basic-dropdown">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-bs-toggle="dropdown">
                                        Stakeholder
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'tmpi:index' %}">All Stakeholder</a>
                                        {% for item in list_stakeholder %}
                                        <a class="dropdown-item {% if request.GET.filter|add:'0' == item.stakeholder %}active{% endif %}" href="{% url 'tmpi:index' %}?filter={{item.stakeholder}}">{{item.stakeholder__name}}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="example3" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Periode</th>
                                        <th>Stakeholder</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for tmpi in tmpi_list %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{tmpi.month}} {{tmpi.year}}</td>
                                        <td>{{tmpi.stakeholder}}</td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="{% url 'tmpi:detail' pk=tmpi.id %}" class="btn btn-success shadow btn-xs sharp me-1"><i class="fas fa-eye"></i></a>
                                                <a href="{% url 'tmpi:update' pk=tmpi.id %}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                                <form onsubmit="return confirm('Delete this item?')" action="{% url 'tmpi:delete' pk=tmpi.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></button>
                                                </form>
                                            </div>		
                                            </div>												
                                        </td>												
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}