        {% extends 'base.html' %}
        {% load static %}
            {% block content %}
				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="{% url 'stakeholder:index' %}">Stakeholder</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">Profile</a></li>
					</ol>
                </div>
                <!-- row -->

				<!-- <div class="d-flex align-items-center mb-4">
					<h4 class="fs-20 font-w600 mb-0 me-auto">{{title}}</h4>
					<div>
						<a href="javascript:void(0);" class="btn btn-secondary btn-sm me-3" > <i class="fas fa-envelope"></i></a>
						<a href="javascript:void(0);" class="btn btn-secondary btn-sm me-3" ><i class="fas fa-phone-alt"></i></a>
						<a href="javascript:void(0);" class="btn btn-primary btn-sm" ><i class="fas fa-info"></i></a>
					
					</div>
				</div> -->
				<div class="row">
					<div class="col-xl-12">
						<div class="card">
							<div class="card-header border-0 flex-wrap align-items-start">
								<div class="col-md-8">
									<div class="user d-sm-flex d-block pe-md-5 pe-0">
										{% if stakeholder.image %}
										<img src="{{stakeholder.image.url}}" alt="" width="100%">
										{% else %}
										<img src="{% static 'images/avatar/1.jpg' %}" alt="" width="100%">
										{% endif %}
										<div class="ms-sm-3 ms-0 me-md-5 md-0">
											<h5 class="mb-1 font-w600"><a href="javascript:void(0);">{{stakeholder.name}}</a></h5>
											<div class="listline-wrapper mb-2">
												<span class="item"><i class="far fa-envelope"></i>{{stakeholder.email}}</span>
												<span class="item"><i class="far fa-id-badge"></i>{{stakeholder.type}}</span>
												<span class="item"><i class="fas fa-flag"></i>{{stakeholder.get_field_display}}</span>
											</div>
											<p>{{stakeholder.info}}</p>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-12 text-end">	
									<!-- <a href="javascript:void(0);" class="btn btn-sm btn-primary me-2">Ask</a>
									<a href="javascript:void(0);" class="btn btn-sm btn-info">Hire</a> -->
									<div class="mt-3">
										<h6 class="text-start">Overall Progress
											<span class="float-end">{{progress|floatformat:2}}%</span>
										</h6>
										<div class="progress ">
											<div class="progress-bar bg-danger progress-animated" style="width: {{progress|floatformat:2}}%; height:6px;" role="progressbar">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body pt-1">
								
								<div class="timeline">
									<div class="timeline-month">
										Progress Pembentukan CSIRT
										<span>
											
											<div class="basic-dropdown">
												<!-- Default dropright button -->
												<div class="btn-group dropend mb-1">
													<button type="button" class="btn btn-xxs btn-warning dropdown-toggle" data-bs-toggle="dropdown">
														<i class="fa fa-plus"></i> Add Progress 
													</button>
													<div class="dropdown-menu">
														<a class="dropdown-item {% if edu %} disabled {% endif %}" href="{% url 'ttis:edu_create' %}?s_id={{stakeholder.id}}">Edukasi</a>
														<a class="dropdown-item {% if prn %} disabled {% endif %}" href="{% url 'ttis:prn_create' %}?s_id={{stakeholder.id}}">Perencanaan</a>
														<a class="dropdown-item {% if pnr %} disabled {% endif %}" href="{% url 'ttis:pnr_create' %}?s_id={{stakeholder.id}}">Penerapan</a>
														<a class="dropdown-item {% if png %} disabled {% endif %}" href="{% url 'ttis:png_create' %}?s_id={{stakeholder.id}}">Penguatan</a>
														<a class="dropdown-item {% if eva %} disabled {% endif %}" href="{% url 'ttis:eva_create' %}?s_id={{stakeholder.id}}">Evaluasi</a>
													</div>
												</div>
											</div>	
										</span>	
									</div>

									<!-- edu -->
									{% if edu %}
									<div class="timeline-section">
										<div class="timeline-date">
											Edukasi CSIRT
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="timeline-box">
													<div class="box-title text-white">
														<i class="fa fa-file-powerpoint text-white" aria-hidden="true"></i> Sosialisasi
													</div>
													<div class="box-content">
														<div class="box-item"><strong>Tanggal</strong>: {{edu.tanggal|date:'d M Y'}}</div>
														<div class="box-item"><strong>Tempat</strong>: {{edu.tempat}}</div>
													</div>
													<div class="box-footer">
														<a href="{% url 'ttis:edu_update' pk=edu.id %}?s_id={{stakeholder.id}}" class="btn btn-xxs btn-primary"><i class="fa fa-edit"></i> Edit</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									{% endif %}

									<!-- perencanaan -->
									{% if prn %}
									<div class="timeline-section">
										<div class="timeline-date">
											Perencanaan CSIRT
										</div>
										<div class="row">
											{% if prn.draft_sk == 1 %}
											<div class="col-sm-4">
												<div class="timeline-box">
													<div class="box-title text-white">
														<i class="fa fa-file-word text-primary" aria-hidden="true"></i> Draft SK
													</div>
													<div class="box-content">
														<div class="box-item"><strong>Nomor Draft SK</strong>: {{prn.no_draft_sk}}</div>
														<div class="box-item"><strong>Tanggal</strong>: {{prn.tgl_draft_sk|date:'d M Y'}}</div>
													</div>
													<div class="box-footer">
														<a href="{% url 'ttis:prn_update' pk=prn.id %}?s_id={{stakeholder.id}}" class="btn btn-xxs btn-primary"><i class="fa fa-edit"></i> Edit</a>
													</div>
												</div>
											</div>
											{% endif %}

											{% if prn.draft_rfc == 1 %}
											<div class="col-sm-4">
												<div class="timeline-box">
													<div class="box-title text-white">
														<i class="fa fa-file-word text-primary" aria-hidden="true"></i> Draft RFC 2350
													</div>
													<div class="box-content">
														<div class="box-item"><strong>Nomor Draft RFC 2350</strong>: {{prn.no_draft_rfc}}</div>
														<div class="box-item"><strong>Tanggal</strong>: {{prn.tgl_draft_sk|date:'d M Y'}}</div>
													</div>
													<div class="box-footer">
														<a href="{% url 'ttis:prn_update' pk=prn.id %}?s_id={{stakeholder.id}}" class="btn btn-xxs btn-primary"><i class="fa fa-edit"></i> Edit</a>
													</div>
												</div>
											</div>
											{% endif %}
											
											{% if prn.draft_sumber_daya == 1 %}
											<div class="col-sm-4">
												<div class="timeline-box">
													<div class="box-title text-white">
														<i class="fa fa-file-word text-primary" aria-hidden="true"></i> Draft Sumber Daya
													</div>
													<div class="box-content">
														<div class="box-item"><strong>Nomor Draft Sumber Daya</strong>: {{prn.no_draft_sumber_daya}}</div>
														<div class="box-item"><strong>Tanggal</strong>: {{prn.tgl_draft_sk|date:'d M Y'}}</div>
													</div>
													<div class="box-footer">
														<a href="{% url 'ttis:prn_update' pk=prn.id %}?s_id={{stakeholder.id}}" class="btn btn-xxs btn-primary"><i class="fa fa-edit"></i> Edit</a>
													</div>
												</div>
											</div>
											{% endif %}
										</div>
									</div>
									{% endif %}
									
									<!-- penerapan -->
									{% if pnr %}
									<div class="timeline-section">
										<div class="timeline-date">
											Penerapan CSIRT
										</div>
										<div class="row">

											{% if pnr.doc_sk == 1 %}
											<div class="col-sm-4">
												<div class="timeline-box">
													<div class="box-title text-white">
														<i class="fa fa-file-pdf text-danger" aria-hidden="true"></i> Dokumen SK
													</div>
													<div class="box-content">
														<div class="box-item"><strong>Nomor Dok SK</strong>: {{pnr.no_doc_sk}}</div>
														<div class="box-item"><strong>Tanggal</strong>: {{pnr.tgl_doc_sk|date:'d M Y'}}</div>
													</div>
													<div class="box-footer">
														<a href="{% url 'ttis:pnr_update' pk=pnr.id %}?s_id={{stakeholder.id}}" class="btn btn-xxs btn-primary"><i class="fa fa-edit"></i> Edit</a>
														<button type="button" class="btn btn-xxs btn-secondary" data-bs-toggle="modal" data-bs-target="#docSK"><i class="fa fa-search"></i> Show</button>
														
														<div class="modal fade" id="docSK">
															<div class="modal-dialog" role="document">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title">Passphrase</h5>
																		<button type="button" class="btn-close" data-bs-dismiss="modal">
																		</button>
																	</div>
																	<div class="modal-body">
																		<form action="{% url 'ttis:pnr_show' show_id=pnr.id %}" method="post" id="passSK">
																			{% csrf_token %}
																			<input type="hidden" name="file" value="sk">
																			<div class="form-group">
																				<input type="password" class="form-control" autofocus id="passphrase" name="passphrase" placeholder="Enter your passphrase">
																			</div>
																		</form>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-danger light btn-xxs" data-bs-dismiss="modal">Close</button>
																		<input type="submit" class="btn btn-success btn-xxs" form="passSK" value="Submit">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											
											{% if pnr.doc_rfc == 1 %}
											<div class="col-sm-4">
												<div class="timeline-box">
													<div class="box-title text-white">
														<i class="fa  fa-file-pdf text-danger" aria-hidden="true"></i> Dokumen RFC 2350
													</div>
													<div class="box-content">
														<div class="box-item"><strong>Nomor Dok RFC 2350</strong>: {{pnr.no_doc_rfc}}</div>
														<div class="box-item"><strong>Tanggal</strong>: {{pnr.tgl_doc_rfc|date:'d M Y'}}</div>
													</div>
													<div class="box-footer">
														<a href="{% url 'ttis:pnr_update' pk=pnr.id %}?s_id={{stakeholder.id}}" class="btn btn-xxs btn-primary"><i class="fa fa-edit"></i> Edit</a>
														<button type="button" class="btn btn-xxs btn-secondary" data-bs-toggle="modal" data-bs-target="#docRFC"><i class="fa fa-search"></i> Show</button>
														
														<div class="modal fade" id="docRFC">
															<div class="modal-dialog" role="document">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title">Passphrase</h5>
																		<button type="button" class="btn-close" data-bs-dismiss="modal">
																		</button>
																	</div>
																	<div class="modal-body">
																		<form action="{% url 'ttis:pnr_show' show_id=pnr.id %}" method="post" id="passRFC">
																			{% csrf_token %}
																			<input type="hidden" name="file" value="rfc">
																			<div class="form-group">
																				<input type="password" class="form-control" autofocus id="passphrase" name="passphrase" placeholder="Enter your passphrase">
																			</div>
																		</form>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-danger light btn-xxs" data-bs-dismiss="modal">Close</button>
																		<input type="submit" class="btn btn-success btn-xxs" form="passRFC" value="Submit">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
											
											{% if pnr.doc_sumber_daya == 1 %}
											<div class="col-sm-4">
												<div class="timeline-box">
													<div class="box-title text-white">
														<i class="fa  fa-file-pdf text-danger" aria-hidden="true"></i> Dokumen Sumber Daya
													</div>
													<div class="box-content">
														<div class="box-item"><strong>Nomor Dok Sumber Daya</strong>: {{pnr.no_doc_sumber_daya}}</div>
														<div class="box-item"><strong>Tanggal</strong>: {{pnr.tgl_doc_sumber_daya|date:'d M Y'}}</div>
													</div>
													<div class="box-footer">
														<a href="{% url 'ttis:pnr_update' pk=pnr.id %}?s_id={{stakeholder.id}}" class="btn btn-xxs btn-primary"><i class="fa fa-edit"></i> Edit</a>
														<button type="button" class="btn btn-xxs btn-secondary" data-bs-toggle="modal" data-bs-target="#docSD"><i class="fa fa-search"></i> Show</button>
														
														<div class="modal fade" id="docSD">
															<div class="modal-dialog" role="document">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title">Passphrase</h5>
																		<button type="button" class="btn-close" data-bs-dismiss="modal">
																		</button>
																	</div>
																	<div class="modal-body">
																		<form action="{% url 'ttis:pnr_show' show_id=pnr.id %}" method="post" id="passSD">
																			{% csrf_token %}
																			<input type="hidden" name="file" value="sumber_daya">
																			<div class="form-group">
																				<input type="password" class="form-control" autofocus id="passphrase" name="passphrase" placeholder="Enter your passphrase">
																			</div>
																		</form>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-danger light btn-xxs" data-bs-dismiss="modal">Close</button>
																		<input type="submit" class="btn btn-success btn-xxs" form="passSD" value="Submit">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{% endif %}
										</div>

										{% if pnr.portal_csirt == 1 %}
										<div class="row">
											<div class="col-sm-4">
												<div class="timeline-box">
													<div class="box-title text-white">
														<i class="fa fa-globe text-warning" aria-hidden="true"></i> Portal Web CSIRT
													</div>
													<div class="box-content">
														<div class="box-item"><strong>URL</strong>: {{pnr.portal_csirt_url}}</div>
													</div>
													<div class="box-footer">
														<a href="{% url 'ttis:pnr_update' pk=pnr.id %}?s_id={{stakeholder.id}}" class="btn btn-xxs btn-primary"><i class="fa fa-edit"></i> Edit</a>
													</div>
												</div>
											</div>
										</div>
										{% endif %}
									</div>
									{% endif %}
									
									<!-- penguatan -->
									{% if png %}
									<div class="timeline-section">
										<div class="timeline-date">
											Penguatan CSIRT
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="timeline-box">
													<div class="box-title text-white">
														<i class="fa fa-certificate" aria-hidden="true"></i> Workshop
													</div>
													<div class="box-content">
														<div class="box-item"><strong>Name</strong>: Workhsop Vulnerability and Compromise Attack</div>
														<div class="box-item"><strong>Type</strong>: Advanced</div>
														<div class="box-item"><strong>Tanggal</strong>: 10 Agustus 2022</div>
													</div>
													<div class="box-footer">- Carol</div>
												</div>
											</div>
										</div>
									</div>
									{% endif %}
									
									<!-- evaluasi -->
									{% if eva %}
									<div class="timeline-section">
										<div class="timeline-date">
											Evaluasi CSIRT
										</div>
										<div class="row">
											<div class="col-sm-4">
												<div class="timeline-box">
													<div class="box-title text-white">
														<i class="fa fa-archive text-success" aria-hidden="true"></i> TMPI
													</div>
													<div class="box-content">
														<div class="box-item"><strong>Score</strong>: 3</div>
														<div class="box-item"><strong>Tanggal</strong>: 08 Agustus 2022</div>
													</div>
													<div class="box-footer">- Carol</div>
												</div>
											</div>
										</div>
									</div>
									{% endif %}
								</div>

								<h4 class="fs-20">Narahubung CSIRT</h4>
								{% if narahubung is None %}
								<a href="{% url 'stakeholder:sdm_create' %}?s_id={{stakeholder.id}}" class="btn btn-success btn-xs me-2  mb-2"><i class="fas fa-plus me-2"></i> Create</a>
								{% else %}
								<a href="{% url 'stakeholder:sdm_update' pk=narahubung.id %}?s_id={{stakeholder.id}}" class="btn btn-primary btn-xs me-2  mb-2"><i class="fas fa-pencil-alt me-2"></i> Edit</a>
								{% endif %}
								<div class="row">
									<div class="col-xl-6 col-md-6">
										<p class="font-w600 mb-2 d-flex"><span class="custom-label-2">Nama : </span><span class="font-w400">{{narahubung.nama}}</span></p>
										<p class="font-w600 mb-2 d-flex"><span class="custom-label-2">Jabatan : </span><span class="font-w400">{{narahubung.jabatan}}</span></p>
										<p class="font-w600 mb-2 d-flex"><span class="custom-label-2">Unit Kerja : </span><span class="font-w400">{{narahubung.unit_kerja}}</span></p>
										<p class="font-w600 mb-2 d-flex"><span class="custom-label-2">Kompetensi : </span><span class="font-w400">{{narahubung.kompetensi}}</span></p>
										<p class="font-w600 mb-2 d-flex"><span class="custom-label-2">Sertifikat :</span> <span class="font-w400">{{narahubung.sertifikat}}</span></p>
									</div>
									<div class="col-xl-6 col-md-6">
										<p class="font-w600 mb-2 d-flex"><span class="custom-label-2">Email :</span> <span class="font-w400">{{narahubung.email}}</span></p>
										<p class="font-w600 mb-2 d-flex"><span class="custom-label-2">Telepon : </span><span class="font-w400">{{narahubung.telepon}}</span></p>
										<p class="font-w600 mb-2 d-flex"><span class="custom-label-2">Gender : </span><span class="font-w400">{{narahubung.get_gender_display}}</span></p>
									</div>
								</div>
							</div>
							<div class="card-footer d-flex flex-wrap justify-content-between">
								<div>
									<!-- <a href="javascript:void(0);" class="btn btn-primary btn-md me-2  mb-2"><i class="fas fa-download me-2"></i>Download Resume</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
                
				<div class="row">
					<div class="col-xl-4 col-xxl-4">
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header border-0 bg-warning">
										<h4 class="fs-20 mb-0 text-white">CSM</h4>
									</div>
                                    <div class="card-body">
										{% if tatakelola %}
                                        <div id="highchart-radar"></div>
										{% else %}
                                        <h5>
											Data not available.
										</h5>
										{% endif %}
                                    </div>
								</div>
							</div>
						</div>
					</div>	
					<div class="col-xl-4 col-xxl-4">
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header border-0 bg-secondary">
										<h4 class="fs-20 mb-0 text-white">Indeks KAMI</h4>
									</div>
                                    <div class="card-body">
										{% if skor %}
                                        <div id="highchart-radar-ikami"></div>
										{% else %}
                                        <h5>
											Data not available.
										</h5>
										{% endif %}
                                    </div>
								</div>
							</div>
						</div>
					</div>	
					<div class="col-xl-4 col-xxl-4">
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header border-0 bg-danger">
										<h4 class="fs-20 mb-0 text-white">Kategorisasi SE</h4>
									</div>
                                    <div class="card-body text-center">
										{% if indeks_nilai %}
											{% if indeks_ket == 'Strategis' %}
											<span class="se-strategis">{{indeks_nilai}}</span>
											<h1 class="text-success">{{indeks_ket}}</h1>
											{% elif indeks_ket == 'Tinggi' %}
											<span class="se-tinggi">{{indeks_nilai}}</span>
											<h1 class="text-primary">{{indeks_ket}}</h1>
											{% else %}
											<span class="se-rendah">{{indeks_nilai}}</span>
											<h1 class="text-warning">{{indeks_ket}}</h1>
											{% endif %}
										{% else %}
                                        <h5>
											Data not available.
										</h5>
										{% endif %}
                                    </div>
								</div>
							</div>
						</div>
					</div>	
                </div>

                <div class="row">
					<div class="col-xl-12 col-xxl-12">
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header d-block">
										<h4 class="fs-20 d-block"><a href="javascript:void(0);">Peningkatan Kompetensi</a></h4>
										<div class="d-block">
											<span class="me-2"><a href="javascript:void(0);"><i class="fas fa-briefcase me-2"></i>{{stakeholder.name}}</a></span>
										</div>
									</div>
									<div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h4 class="fs-20 mb-3">Workshop</h4>
                                            </div>
                                            <div class="col-md-10">
                                                <a href="{% url 'stakeholder:lw_create' %}?s_id={{stakeholder.id}}" class="btn btn-primary btn-xs me-2  mb-2"><i class="fas fa-plus me-2"></i>Add Workshop</a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-responsive-sm table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Nama Workshop</th>
                                                        <th>Tanggal</th>
                                                        <th>Lokasi</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
													{% for lw in listworkshop %}
                                                    <tr>
                                                        <th>{{forloop.counter}}</th>
                                                        <td>{{lw.workshop}}</td>
                                                        <td>{{lw.workshop.tanggal|date:"d M, Y"}}</td>
                                                        <td>{{lw.workshop.lokasi}}</td>
                                                        <td>
															<div class="d-flex">
																<a href="{% url 'stakeholder:lw_update' pk=lw.id %}?s_id={{stakeholder.id}}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																<form onsubmit="return confirm('Delete this item?')" action="{% url 'stakeholder:lw_delete' pk=lw.id %}?s_id={{stakeholder.id}}" method="post">
																	{% csrf_token %}
																	<button type="submit" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></button>
																</form>
															</div>
														</td>
                                                    </tr>
													{% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

                <div class="row">
					<div class="col-xl-12 col-xxl-12">
						<div class="row">
							<div class="col-xl-12">
								<div class="card">
									<div class="card-header d-block">
										<h4 class="fs-20 d-block"><a href="javascript:void(0);">Resources</a></h4>
										<div class="d-block">
											<span class="me-2"><a href="javascript:void(0);"><i class="fas fa-briefcase me-2"></i>{{stakeholder.name}}</a></span>
											<span class="me-2"><a href="javascript:void(0);"><i class="fas fa-map-marker-alt me-2"></i>Indonesia</a></span>
											<span><a href="javascript:void(0);"><i class="fas fa-eye me-2"></i>Overview</a></span>
										</div>
									</div>
									<div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h4 class="fs-20 mb-3">CSIRT Member</h4>
                                            </div>
                                            <div class="col-md-10">
                                                <a href="{% url 'stakeholder:sdm_create' %}?s_id={{stakeholder.id}}" class="btn btn-primary btn-xs me-2  mb-2"><i class="fas fa-plus me-2"></i>Add CSIRT</a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-responsive-sm table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Nama</th>
                                                        <th>Unit Kerja</th>
                                                        <th>Kompetensi</th>
                                                        <th>Sertifikat</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
													{% for c in csirt %}
                                                    <tr>
                                                        <th>{{forloop.counter}}</th>
                                                        <td>{{c.nama}}</td>
                                                        <td>{{c.unit_kerja}}</td>
                                                        <td>{{c.kompetensi}}</td>
                                                        <td>{{c.sertifikat}}</td>
                                                        <td>
															<div class="d-flex">
																<a href="{% url 'stakeholder:sdm_update' pk=c.id %}?s_id={{stakeholder.id}}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																<form onsubmit="return confirm('Delete this item?')" action="{% url 'stakeholder:sdm_delete' pk=c.id %}?s_id={{stakeholder.id}}" method="post">
																	{% csrf_token %}
																	<button type="submit" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></button>
																</form>
															</div>
														</td>
                                                    </tr>
													{% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

										<hr>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h4 class="fs-20 mb-3">Sistem Elektronik</h4>
                                            </div>
                                            <div class="col-md-10">
                                                <a href="{% url 'stakeholder:se_create' %}?s_id={{stakeholder.id}}" class="btn btn-primary btn-xs me-2  mb-2"><i class="fas fa-plus me-2"></i>Add Sistem Elektronik</a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-responsive-sm table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Nama</th>
                                                        <th>Spesifikasi</th>
                                                        <th>Unit</th>
                                                        <th>Unit Pengelola</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
													{% for se in sistemelektronik %}
                                                    <tr>
                                                        <th>{{forloop.counter}}</th>
                                                        <td>{{se.nama}}</td>
                                                        <td>
															{{se.spesifikasi}}
                                                        </td>
                                                        <td>{{se.unit}}</td>
                                                        <td>{{se.unit_pengelola}}</td>
                                                        <td>
															<div class="d-flex">
																<a href="{% url 'stakeholder:se_update' pk=se.id %}?s_id={{stakeholder.id}}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																<form onsubmit="return confirm('Delete this item?')" action="{% url 'stakeholder:se_delete' pk=se.id %}?s_id={{stakeholder.id}}" method="post">
																	{% csrf_token %}
																	<button type="submit" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></button>
																</form>
															</div>
														</td>
                                                    </tr>
													{% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

										<hr>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h4 class="fs-20 mb-3">Prosedur</h4>
                                            </div>
                                            <div class="col-md-10">
                                                <a href="{% url 'stakeholder:pr_create' %}?s_id={{stakeholder.id}}" class="btn btn-primary btn-xs me-2  mb-2"><i class="fas fa-plus me-2"></i>Add Prosedur</a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-responsive-sm table-striped">
                                                <thead class="thead-secondary">
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Nama</th>
                                                        <th>Nomer</th>
                                                        <th>Status</th>
                                                        <th>Tahun</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
													{% for pr in prosedur %}
													<tr>
														<th>{{forloop.counter}}</th>
                                                        <td>{{pr.nama}}</td>
                                                        <td>{{pr.nomer}}</td>
                                                        <td>
															{% if pr.status == 'RL' %}
                                                            <span class="badge badge-success light">{{pr.get_status_display}}</span>
															{% elif pr.status == 'PB' %}
                                                            <span class="badge badge-primary light">{{pr.get_status_display}}</span>
															{% elif pr.status == 'DR' %}
                                                            <span class="badge badge-warning light">{{pr.get_status_display}}</span>
															{% endif %}
                                                        </td>
                                                        <td>{{pr.tahun}}</td>
                                                        <td>
															<div class="d-flex">
																<a href="{% url 'stakeholder:pr_update' pk=pr.id %}?s_id={{stakeholder.id}}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
																<form onsubmit="return confirm('Delete this item?')" action="{% url 'stakeholder:pr_delete' pk=pr.id %}?s_id={{stakeholder.id}}" method="post">
																	{% csrf_token %}
																	<button type="submit" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></button>
																</form>
															</div>
														</td>
                                                    </tr>
													{% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

									</div>
									<div class="card-footer border-0">
										<div>
											<!-- <a href="javascript:void(0);" class="btn btn-warning btn-md me-2 mb-3"><i class="fas fa-share-alt me-2"></i>Share Job</a> -->
											<!-- <a href="javascript:void(0);" class="btn btn-secondary btn-md mb-3"><i class="fas fa-print me-2"></i>Print</a> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				{% if spider_json %}
				<script> 
					var spider_json_csm = "{{ spider_json|escapejs }}";
				</script>
				<script src="{% static 'js/plugins-init/highchart-csm-radar.js' %}"></script>
				{% endif %}
				
				{% if spider_json_ikami %}
				<script> 
					var spider_json = "{{ spider_json_ikami|escapejs }}";
				</script>
				<script src="{% static 'js/plugins-init/highchart-ikami.js' %}"></script>
				{% endif %}

            {% endblock %}