{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="{% url 'se:index' %}">Kategori SE</a></li>
                <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">{{ subtitle }}</a></li> -->
            </ol>
        </div>
        <!-- row -->

        <!-- <div class="row">
            <div class="col-12">
                <div class="alert alert-success alert-dismissible fade show">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="me-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>	
                    <strong>Success!</strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
                    </button>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{title}}</h4>
                        <a href="{% url 'se:create' %}" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> Create Kategorisasi SE</a>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <h4 class="card-title card-intro-title">
                                Filter
                            </h4>
                            <div class="basic-dropdown">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-bs-toggle="dropdown">
                                        Stakeholder
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'se:index' %}">All Stakeholder</a>
                                        {% for item in list_stakeholder %}
                                        <a class="dropdown-item {% if request.GET.filter|add:'0' == item.stakeholder %}active{% endif %}" href="{% url 'se:index' %}?filter={{item.stakeholder}}">{{item.stakeholder__name}}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="example3" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Periode</th>
                                        <th>Stakeholder</th>
                                        <th>Nilai</th>
                                        <th>Kategorisasi Sistem Elektronik</th>
                                        <th>Sistem</th>
                                        <th>Keterangan</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for se in se_list %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{se.month}} {{se.year}}</td>
                                        <td>{{se.stakeholder}}</td>
                                        <td>{{se.indeks_nilai}}</td>
                                        <td>
                                            {% if se.indeks_ket == 'Strategis' %}
                                            <span class="badge light badge-success">{{se.indeks_ket}}</span>
                                            {% elif se.indeks_ket == 'Tinggi' %}
                                            <span class="badge light badge-primary">{{se.indeks_ket}}</span>
                                            {% else %}
                                            <span class="badge light badge-warning">{{se.indeks_ket}}</span>
                                            {% endif %}
                                        </td>
                                        <td>{{se.sistem}}</td>
                                        <td>{{se.keterangan}}</td>
                                        <td>
                                            <div class="d-flex">
                                                <a href="{% url 'se:detail' pk=se.id %}" class="btn btn-success shadow btn-xs sharp me-1"><i class="fas fa-eye"></i></a>
                                                <a href="{% url 'se:update' pk=se.id %}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                                <form onsubmit="return confirm('Delete this item?')" action="{% url 'se:delete' pk=se.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></button>
                                                </form>
                                            </div>												
                                        </td>												
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}