{% extends 'base_landing.html' %}
{% load static %}
{% block content %}
<section class="wrapper bg-gradient-primary ">
    <div class="container pt-10 pb-9 pt-md-14 pb-md-11 text-center">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <div class="post-header">
                    <div class="post-category text-line">
                        <a href="#" class="hover" rel="category">{{object.get_jenis_display}}</a>
                    </div>
                    <!-- /.post-category -->
                    <h1 class="display-1 mb-3">{{object.nama}}</h1>
                </div>
                <!-- /.post-header -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->
<section class="wrapper bg-light wrapper-border">
    <div class="container pb-14 pb-md-16">
        <article>
            <div class="post-slider mb-8 mb-md-12">
                <div class="basic-slider owl-carousel dots-over" data-nav="true" data-margin="5">
                    <div class="item"><img src="{{object.image.url}}" class="rounded" alt="" /></div>
                </div>
                <!-- /.basic-slider -->
            </div>
            <!-- /.post-slider -->
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="display-6 mb-4">Deskripsi Kegiatan</h2>
                    <div class="row gx-0">
                        <div class="col-md-9 text-justify">
                            <p>{{object.deskripsi}}</p>
                        </div>
                        <!--/column -->
                        <div class="col-md-2 ms-auto">
                            <ul class="list-unstyled">
                                <li>
                                    <h5 class="mb-1">Tanggal</h5>
                                    <p>{{object.tanggal|date:"d M, Y"}}</p>
                                </li>
                                <li>
                                    <h5 class="mb-1">Lokasi</h5>
                                    <p>{{object.lokasi}}</p>
                                </li>
                            </ul>
                        </div>
                        <!--/column -->
                    </div>
                    <!--/.row -->
                </div>
                <!-- /column -->
            </div>
            <!--/.row -->
        </article>
        <!-- /.project -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->

<!-- <section class="wrapper bg-light">
    <div class="container py-10">
        <div class="row gx-md-6 gy-3 gy-md-0">
            <div class="col-md-8 align-self-center text-center text-md-start navigation">
                <a href="" class="btn btn-soft-ash rounded-pill btn-icon btn-icon-start mb-0 me-1"><i
                        class="uil uil-arrow-left"></i> Prev Post</a>
                <a href="" class="btn btn-soft-ash rounded-pill btn-icon btn-icon-end mb-0">Next Post <i
                        class="uil uil-arrow-right"></i></a>
            </div>
            <aside class="col-md-4 sidebar text-center text-md-end">
                <div class="dropdown share-dropdown btn-group">
                    <button class="btn btn-red rounded-pill btn-icon btn-icon-start dropdown-toggle mb-0 me-0"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="uil uil-share-alt"></i> Share </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="uil uil-twitter"></i>Twitter</a>
                        <a class="dropdown-item" href="#"><i class="uil uil-facebook-f"></i>Facebook</a>
                        <a class="dropdown-item" href="#"><i class="uil uil-linkedin"></i>Linkedin</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section> -->
{% endblock %}